.pokemon {
  display: inline-grid;
  padding: 0px;
  margin: 35px;
  border-radius: 36px;
  background-image: url('../../img/body_bg.png');
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: capitalize;
  color: white;
  animation: 1.5s;
}

.pokemon:hover, .pokemon:focus, .pokemon:active {
  cursor: pointer;
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.name{
  border-radius: 36px;
}

.imagen {
  width: 230px;
  height: 150px;
  position: center;
}

.tipos{
  display: inline-flex;
  justify-content: space-evenly;
}

.a{
  text-decoration: none;
}