.paginado{
    margin-top: 50px;
    margin-bottom: 30px;
}


.page{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0;
    margin-right: 50px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    cursor: pointer;
}

.page:hover{
    color: black;
    box-shadow: 1px 1px 10px 5px red;
    transition: all 1s;
}