.searchbar {
  display: flex;
  justify-content: center;
}

.aa {
  margin-bottom: 5px;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

.create {
  font-family: fantasy;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 3px 1px 3px yellow;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  border: double transparent;
  border-radius: 10px;
  background-color: transparent;
  color: black;
}

.create:hover {
  border: double darkgoldenrod;
  background-color: gold;
  transition: all 2s;
}

.PokemonsBacks {
  font-family: fantasy;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 3px 1px 3px yellow;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  border: double transparent;
  background-color: transparent;
  color: black;
}

.PokemonsBacks:hover {
  border: double darkgoldenrod;
  background-color: gold;
  transition: all 2s;
}
